#generalactions #btnGiveUp.disabled {
  display: none;
}

.action-button.attention {
  animation: pulsate-attention-zoom 1s ease-out infinite;

  &.delayed-start {
    animation-delay: 5s;
  }
}

#table {
  --card-width: 140px;
  --card-height: 202px;
  --border-radius: calc(var(--card-width) * 0.2);

  --fadeoutmask: linear-gradient(
      to bottom,
      rgba(0, 0, 0, 1) 0,
      rgba(0, 0, 0, 1) 70%,
      rgba(0, 0, 0, 0) 95%,
      rgba(0, 0, 0, 0) 0
    )
    100% 50% / 100% 100% repeat-x;

  position: relative;
  margin: auto;
  display: flex;
  flex-direction: column;
  gap: 5px;

  & > #pyramid-card-commands,
  & > #relic-card-commands {
    display: none;
  }
}
